
// primary color
$white 			: #fff !default;
$black 			: #000 !default;
$grey           : #999 !default;
$red			: #F8011E !default;
$green			: #00B35E !default;
$lime			: #89C747 !default;
$blue 			: #0096D9 !default;
$yellow		    : #ff9700 !default;
$orange			: #F7931E !default;
$brown 		    : #6A453C !default;
$magenta		: #F50089 !default;

// social media
$facebook-color     : #4C66A4;
$googleplus-color   : #DD4B39;
$pinterest-color    : #CB2027;
$twitter-color      : #2FC2EF;
$youtube-color      : #CD201F;
$instagram-color    : #262626;

// secondary color
$blackDark 	        : darken($black,10%) !default;
$blackDarker        : darken($black,20%) !default;
$blackLight         : lighten($black,10%) !default;
$blackLighter       : lighten($black,20%) !default;

$blueDark	        : darken($blue,10%) !default;
$blueDarker	        : darken($blue,20%) !default;
$blueLight	        : lighten($blue,10%) !default;
$blueLighter        : lighten($blue,20%) !default;

$greenDark	        : darken($green,10%) !default;
$greenDarker        : darken($green,20%) !default;
$greenLight	        : lighten($green,10%) !default;
$greenLighter       : lighten($green,20%) !default;

$greyDark 	        : #333 !default;
$greyDarker         : #666 !default;
$greyLight 	        : #CCC !default;
$greyLighter        : #F2F2F2 !default;

$orangeDark         : darken($orange,10%) !default;
$orangeDarker       : darken($orange,20%) !default;
$orangeLight        : lighten($orange,10%) !default;
$orangeLighter      : lighten($orange,20%) !default;

$redDark 	        : darken($red,10%) !default;
$redDarker 	        : darken($red,20%) !default;
$redLight 	        : lighten($red,10%) !default;
$redLighter         : lighten($red,20%) !default;

$brownDark 	        : darken($brown,10%) !default;
$brownDarker        : darken($brown,20%) !default;
$brownLight	        : lighten($brown,10%) !default;
$brownLighter       : lighten($brown,20%) !default;

$yellowLighter	    : lighten(yellow,20%) !default;;

$buttonVariansName  : green, red, blue, orange, gray, white;
$buttonVariansHex   : $green, $red, $blue, $orange, $grey, $white;
$buttonVariansHover : $greenLight, $redLight, $blueLight, $orangeLight, $greyLight, $white;
$buttonVariansFont  : $white, $white, $white, $white, $black, $black;