html {
    @include box-sizing(border-box);
    font-size: 62.5%;
    color: $black;
  	-ms-overflow-style: scrollbar;
  	-webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover, &:focus{
  		text-decoration: underline;
  }
}

code, kbd, pre, samp {
  background-color: $greyLighter;
  padding: .1em .5em;
  border-radius: .1em;
}

pre{
  border-left: solid .25em $blue;  
}

blockquote{
  padding: 10px;
  margin: 0 0 20px;
  font-size: 1.6rem;
  border-left: 5px solid $blue;
}

textarea {
   resize: none;
}
