.badge{
    @include border-radius(.25em);
    border: 1px solid $greyLight;

    &__item{
        line-height: 1.5rem;
        padding: 10px 20px;
        display: block;
        margin: 0;
        border-bottom: 1px solid $greyLight;
        &:last-child{
            border: 0;
        } 
    }
    &__info{
        min-width: 3rem;
        padding: 0 6px;
        text-align: center;
        font-size: 1.2rem;
        line-height: 22px;
        height: 22px;
        color: #757575;
        float: right;
        margin-top: calc(.75rem - 11px);
    }
    &--state{
        &-new{
            background-color: $lime;
            color: $white;
            font-size: .8rem;
        }
    }
    
}