%checkbox
{
    position: absolute;
    left: -9999px;

    & + label
    {
        position: relative;
        display: inline-block;
        padding: 6px 30px;
        cursor: pointer;

        &:before
        {
            position: absolute;
            top: 4px;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid $greyLight;
            border-radius: 1px;
            background-color: $white;
            content: '';
        }
        &:after
        {
            position: absolute;
            color: $white;
            content: '';

            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;

            @include rotate(37deg);
            @include transition(border .25s, background-color .25s);

            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }
    &:not(:checked) + label:after
    {
        width: 0;
        height: 0;
        top: 6px;
        left: 1px;
    }
    &:checked
    {
        & + label:before
        {
            border-color: $blue;
            background-color: $blue;
        }
        & + label:after
        {
            width: 8px;
            height: 13px;
            top: 6px;
            left: 1px;
        }
    }
    &:disabled
    {
        & + label
        {
            color: $greyLight;
        }
        & + label:before
        {
            border-color: $greyLight;
            background-color: $greyLighter;
            box-shadow: none;
        }
        & + label:after
        {
            display: none;
        }
    }
}
