%clearfix{
	@include clearfix();
}

%container {
  max-width: 1146px;
  margin: auto;
  @include clearfix();

  @media (max-width: 980px) {
    padding: 0 15px;
  }

  @media (min-width: 960px) {
    max-width: 960px;
  }

  @media (min-width: 1080px) {
    max-width: 1040px;
  }

  @media (min-width: 1200px) {
    max-width: 1146px;
  }
}

%row {
	@include clearfix();
	margin: 0 auto;
    max-width: 92.308em;
}

$column-count 		: 12 !default;
$desktop          : 768 !default;

@for $i from 1 through $column-count {
	%col-#{$i}{
		float: left;
		width: 100%;

		@media (min-width: 768px) {
    	width: percentage($i/$column-count);
		}
		
	}

	%offset-#{$i}{
    margin-left: percentage($i/$column-count);
	}
}
