%textfield
{
    padding: 12px;
    margin: 3px 0;
    width: 100%;
    outline: none;
    border: 1px solid $greyLight;
    border-radius: 0;
    @include placeholder-color($white);

    &__helper {
        color: $greyDark;
        font-size: 1.2rem;
        line-height: 2;
    }

    &__error {
        color: $red;
        font-size: 1.2rem;
        line-height: 2;
    }
        
    &--error
    {
        border: 1px solid $red;
    }
    
    &--large 
    {
        padding: 20px;
    }

    &--radius
    {
        @include border-radius(0.25em);
    }

    &--radius-left{
        border-top-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em;
    }

    &--radius-right{
        border-top-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em;        
    }

    &--shadow{
        &:focus{
            border-color: #51a7e8;
            outline: none;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);            
        }
    }
}
